.nontes-section {
    padding: 32px;
}

.nontes-landing-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nlh-title {
    margin: 0;
    font-size: 32px;
}
.nlh-subtitle {
    margin: 0;
    font-weight: 200;
    font-size: 16px;
    color: #686868;
}

.nontes-landing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nlf-label {
    margin-bottom: 16px;
    display: block;
    text-align: center;
    font-size: 42px;
}
.nlf-link {
    font-size: 24px;
    margin-right: 8px;
}
.nlf-field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.nlf-input {
    padding: 8px 16px;
    font-size: 20px;
}
.nlf-button {
    padding: 8px 16px;
    border: solid 1px #222222;
    cursor: pointer;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    text-decoration: none;
}

.nontes-landing-presentation {
    padding-top: 0;
}
.nlp-list {
    padding: 0;
}
.nlp-item {
    list-style: none;
    margin-bottom: 8px;
    font-size: 20px;
    color: #707070;
    line-height: 1.5em;
}
.nlp-item strong {
    color: #222222;
}
.nlp-item::before {
    content: '✅';
}

@media (max-width: 600px) {
    .nlf-field {
        flex-direction: column;
    }
    .nlf-link {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .nontes-section {
        padding: 24px 24px 0 24px;
    }
}

@media (max-width: 410px) {
    .nontes-landing-header {
        flex-direction: column;
    }
    .nlh-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
    }
}
