
<article data-nontes-note class="nontes-note">
    <div data-shadow class="nontes-note__shadow"></div>
    <textarea data-note-content autofocus class="nontes-note__content">
        {{ content }}
    </textarea>
</article>

<script src="/js/nontes.js"></script>
<script src="/js/note.js"></script>
